:root{
    --title-color: #141518;
    --content-color: #6B6B6B;
    --content-color_with_opacity: rgba(107,107,107,0.5);
    --background-color: rgba(255,255,255, .7);

    --selected-color: peru;

    --card-background: rgba(255,255,255, .9);
    --header-card-card-background: rgba(255,255,255, .3);

    --h1-background-color: linear-gradient(to bottom, var(--card-background) 51%, transparent 49%);
    --h1-border-color: transparent;

    --shadow-card-color: rgba(0,0,0,0.4);

    --exclusive-font-family-quotation-marks: 'Catamaran', serif;
    --exclusive-color-quotation-marks: #9C9C9C;

    --title-font: 'Bitter', serif;
    --content-font: 'Roboto', sans-serif;

    --font-size-default: 18px;

    --card-width: 400px;
}

html, *{
    color: var(--content-color); 
    font-size: var(--font-size-default);
    font-family: var(--content-font);
        text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
        -webkit-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-stroke: 1px transparent;
        -moz-text-stroke: 1px transparent;
        -ms-text-stroke: 1px transparent;
        -moz-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
        -ms-text-shadow: 0 0 1px rgba(0, 0, 0, 0.01);
    font-weight: normal;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}

p::selection,
span::selection,
h1::selection,
h2::selection,
h3::selection {
    background: transparent;
    color: var(--selected-color);
}

p::-moz-selection,
span::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection {
    background: transparent;
    color: var(--selected-color);
}

body{
    background-image: url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
        min-height: 100vh;
}

body,
body section.main-content,
body section.main-content article h1,
article,
.share{
    display: flex;
        display: -webkit-flex;
        display: -ms-flexbox;
}

body,
body section.main-content article h1,
article,
.share{
    align-items: center;
    justify-content: center;
}


body section.main-content,
body section.main-content article h1,
article,
.share img{
    box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
}

body section.main-content,
article,
.share{
    flex-wrap: wrap;
        -ms-flex-wrap: wrap;
}

body section.main-content{
    height: auto;
        min-height: 525px;
    margin: 15px;
    position: relative;
    width: 100%;
        max-width: var(--card-width);
}

body section.main-content.card{
    border-radius: 7px;
    box-shadow: 0 0 30px 0 var(--shadow-card-color);
    overflow-x: hidden;
}

body section.main-content header{
    background-color: var(--header-card-card-background);
    filter: blur(3px);
    height: auto;
    padding: 80px 0;
    width: 100%;
}

h1{
    color: var(--title-color);
    font-family: var(--title-font);
}

article{
    background-color: var(--card-background);
    height: auto;
    padding: 15px 50px 25px;
    position: relative;
    width: 100%;
}

article > *{
    width: 100%;
}

body section.main-content article h1{
    background-image: var(--h1-background-color);
    border: 1px solid var(--h1-border-color);
    border-radius: 100%;
    font-size: 4em;
    height: 150px;
    position: absolute;
        top: -75px;
    text-transform: capitalize;
    width: 150px;
}

article .-quotation-marks{
    color: var(--exclusive-color-quotation-marks);
    font-family: var(--exclusive-font-family-quotation-marks);
    font-size: 4.55em;
    height: calc(148px / 2);
    margin-top: 50px;
    padding-top: 15px;
    text-align: center;
}

article p{
    line-height: 1.37;
    padding-bottom: 25px;
    text-align: center;
}

article h2,
article h3{
    display: inline-block;
    text-align: right;
    padding: 0 3px;
    width: auto;
}

article h2{
    font-weight: bold;
}

article.off h1,
article.off span,
article.off p,
article.off h2,
article.off h3{
    color: var(--content-color_with_opacity);
    transition: color 987ms ease-in;
        -moz-transition: color 987ms ease-in;
        -o-transition: color 987ms ease-in;
        -webkit-transition: color 987ms ease-in;
}

a.search-random-verse{
    background-color: white;
    padding: 15px 25px;
    border-radius: 30px;
    color: peru;
    transition: all 98.7ms ease-in;
}

a.search-random-verse:hover{
    background-color: var(--selected-color);
    color: white;
}

@keyframes onShare{
    0%{
        height: 0;
    }
    
    80%, 100%{
        height: 100%;
    }
}

.share{
    align-content: center;
    background-color: var(--background-color);
    height: 0;
    overflow: hidden;
    position: absolute;
        bottom: 0;
        left: 0;
    text-align: center;
}

.share.on{
    animation: onShare 987ms ease-in;
    height: 100%;
}

.share h2{
    font-family: var(--title-font);
    font-size: 1.1em;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.share a{
    margin: 5px;
    position: relative;
    overflow: hidden;
    width: 14.5%;
}

.share a.on::before{
    background-image: url("../images/loading-random-bible.gif");
        background-size: 12em;
        background-position: center center;
    border-radius: 100%;
    content: "";
    display: block;
    height: 100%;
    opacity: 0.5;
    position: absolute;
        top: -2px;
        left: 0;
    width: 100%;
}

.share .close-button {
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
        top: 0.7em;
        right: 1em;
    transition: all 98.7ms ease-in;
        -moz-transition: all 98.7ms ease-in;
        -o-transition: all 98.7ms ease-in;
        -webkit-transition: all 98.7ms ease-in;
}

.share .close-button:hover{
    color: var(--selected-color);
}

.main-content img.share-img-button{
    cursor: pointer;
    filter: invert(1);
    position: absolute;
        top: 1em;
        right: 1em;
    width: 25px;
    z-index: 1;
}

.main-content img.share-img-button:hover{
    filter: invert(0.7);
}

.main-content img.share-img-button.off{
    opacity: 0;
    transition: all 987ms ease-in;
        -moz-transition: all 987ms ease-in;
        -o-transition: all 987ms ease-in;
        -webkit-transition: all 987ms ease-in;
}


@media screen and (max-width: 400px){
    article {
        padding: 15px 15px 25px;
    }
}